<mat-card class="left-card">
    <mat-card-header>
        <img mat-card-avatar [src]="authUser?.photoUrl" alt="Foto do usuário">
        <mat-card-title>
            {{authUser?.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{authUser?.email}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-divider inset="true"></mat-divider>
    
    <mat-card-content>        
        <ngx-skeleton-loader *ngIf="!user?.id" [theme]="{height: '28px'}"></ngx-skeleton-loader>

        <h3 *ngIf="user?.id">
            {{user?.type === 'professional' ? 'Profissional' : 'Paciente'}}
        </h3>

        <mat-divider inset="true"></mat-divider>
        
        <div class="info">
            <h4>
                Atendimentos
            </h4>
            <ngx-skeleton-loader *ngIf="!counts" [theme]="{height: '24px'}"></ngx-skeleton-loader>
            <h4 *ngIf="counts">
                {{counts.attendances}}
            </h4>
        </div>

        <div class="info">
            <h4>
                Consultas
            </h4>
            <ngx-skeleton-loader *ngIf="!counts" [theme]="{height: '24px'}"></ngx-skeleton-loader>
            <h4 *ngIf="counts">
                {{counts.appointments}}
            </h4>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="right-card">
    <mat-card-header>
        <mat-icon mat-card-avatar fontSet="material-icons-outlined">
            analytics
        </mat-icon>
        <mat-card-title>
            Dados
        </mat-card-title>
        <mat-card-subtitle>
            Editáveis, são possíveis de atualizar
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <ng-container *ngIf="user && form; else loading">
            <form [formGroup]="form">
                <mat-form-field id="name" class="no-padding">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-icon fontSet="material-icons-outlined" matSuffix>person</mat-icon>
                    <mat-error *ngIf="form.get('name')?.hasError('required')">
                        O nome é obrigatório
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field id="email" class="no-padding">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-icon fontSet="material-icons-outlined" matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-divider inset="true"></mat-divider>

                <mat-form-field id="phone_number">
                    <mat-label>Celular</mat-label>
                    <input type="text" matInput formControlName="phone_number">
                    <mat-icon fontSet="material-icons-outlined" matSuffix>call</mat-icon>
                </mat-form-field>
            
                <mat-form-field id="address" class="no-padding">
                    <mat-label>Endereço</mat-label>
                    <input type="text" matInput formControlName="address">
                    <mat-icon fontSet="material-icons-outlined" matSuffix>home</mat-icon>
                </mat-form-field>
            
                <mat-form-field id="address_number" class="no-padding">
                    <mat-label>Número</mat-label>
                    <input type="number" matInput formControlName="address_number">
                </mat-form-field>
            
                <mat-form-field id="zip_code" class="no-padding">
                    <mat-label>CEP</mat-label>
                    <input type="text" matInput formControlName="zip_code">
                </mat-form-field>
        
                <ng-container *ngIf="user.type === 'professional'">
                    <mat-divider inset="true"></mat-divider>
        
                    <mat-form-field id="register_number">
                        <mat-label>Número de Registro</mat-label>
                        <input type="text" matInput formControlName="register_number">
                        <mat-hint>Seu número no Cadastro Nacional de Psicologas(os)</mat-hint>
                    </mat-form-field>
                
                    <mat-form-field id="cost_level" class="no-padding">
                        <mat-label>Nível de Custo</mat-label>
                        <input type="number" min="1" max="5" matInput formControlName="cost_level">
                    </mat-form-field>
                
                    <mat-form-field id="observations">
                        <mat-label>Observações</mat-label>
                        <textarea matInput formControlName="observations"></textarea>
                        <mat-hint>Descreva-se para seus possíveis clientes/pacientes</mat-hint>
                    </mat-form-field>
                </ng-container>
            </form>
        </ng-container>

        <ng-template #loading>
            <div class="loading">
                <ngx-skeleton-loader id="name" [theme]="{height: '59px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="email" [theme]="{height: '59px'}"></ngx-skeleton-loader>

                <mat-divider inset="true"></mat-divider>

                <ngx-skeleton-loader id="phone_number" [theme]="{height: '59px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="address" [theme]="{height: '59px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="address_number" [theme]="{height: '59px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="zip_code" [theme]="{height: '59px'}"></ngx-skeleton-loader>
                
                <mat-divider inset="true"></mat-divider>
                
                <ngx-skeleton-loader id="register_number" [theme]="{height: '78px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="cost_level" [theme]="{height: '78px'}"></ngx-skeleton-loader>

                <ngx-skeleton-loader id="observations" [theme]="{height: '94px'}"></ngx-skeleton-loader>
            </div>
        </ng-template>
    </mat-card-content>

    <mat-card-actions align="end">
        <button 
            mat-raised-button 
            color="primary"
            [disabled]="!(user && form) || !form?.valid" 
            (click)="submit()">
            Atualizar
        </button>
    </mat-card-actions>
</mat-card>