:root {
    --green-weak: #a5d6a7;
    --green: #4caf50;
    --green-strong: #388e3c;
    --green-contrast: #fff;

    --yellow-weak: #fff59d;
    --yellow: #ffeb3b;
    --yellow-strong: #fbc02d;
    --yellow-contrast: #000;

    --red-weak: #ef9a9a;
    --red: #f44336;
    --red-strong: #d32f2f;
    --red-contrast: #fff;

    --blue-weak: #90caf9;
    --blue: #2196f3;
    --blue-strong: #1976d2;
    --blue-contrast: #fff;
}