.no-padding {
    .mat-form-field-wrapper {
        padding: 0;
    }
}

.no-label {
    .mat-form-field-infix {
        padding: 0.5em 0 1em 0;
    }
}

.mat-form-field-disabled {
    .mat-form-field-suffix {
        opacity: .5;
    }
}

.mat-placeholder-required {
    color: var(--red);
}