mat-card.main {
    width: 40%;
    margin: 0 auto;

    & > mat-card-header {
        mat-card-title {
            color: var(--accent);
        }
        
        mat-icon {
            font-size: 40px;
            color: var(--accent);
        }
    }

    mat-card-content {
        form.filters {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;

            h4 {
                margin: 0;
            }

            div {
                display: flex;
                column-gap: 1rem;

                mat-divider {
                    margin: 0;
                }
            }
        }

        div.attendances-wrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 1rem;

            mat-divider {
                width: 25%;
                margin: 1rem auto;
            }
            
            mat-card.attendance {
                margin: 0 auto;
                width: 33%;

                &:hover {
                    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
                    background-color: #fafafb;
                    cursor: pointer;
                }

                &.inactive {
                    opacity: .75;
                }
    
                div.head {
                    display: flex;
                    justify-content: center;
                    position: relative;
    
                    img.photo {
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-top: .5rem;
                    }
    
                    mat-icon {
                        position: absolute;
                        left: calc(50% + 15px);
                        font-size: 2rem;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: white;
    
                        &.pending {
                            color: #F0A500;
                        }
    
                        &.check_circle {
                            color: green;
                        }
    
                        &.error {
                            color: red;
                        }
                    }
                }
    
                h2 {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                }
    
            }
        }

    }
}