div.wrap {
    display: grid;
    grid-template-columns: .2fr .8fr;
    gap: 2rem;
    width: max-content;
    margin: 0 auto;
    position: relative;

    mat-card.data {
        min-width: 40vw;
        height: max-content;
    }

    #add {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }
}