<mat-card class="mat-elevation-z6 main-card">
    <mat-card-header>
        <mat-icon mat-card-avatar>
            manage_search
        </mat-icon>
        <mat-card-title>
            Profissionais
        </mat-card-title>
        <mat-card-subtitle>
            Procure o profissional que mais se encaixe com seus objetivos! Utilize os filtros caso necessário.
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form class="filters" [formGroup]="form">
            <mat-form-field id="name" class="no-padding">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-icon fontSet="material-icons-outlined" matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field id="email" class="no-padding">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
                <mat-icon fontSet="material-icons-outlined" matSuffix>email</mat-icon>
            </mat-form-field>
            
            <mat-form-field id="register_number" class="no-padding">
                <mat-label>Número de Registro</mat-label>
                <input type="text" matInput formControlName="register_number">
            </mat-form-field>

            <mat-form-field id="min_cost_level" class="no-padding">
                <mat-label>Nível de custo mínimo</mat-label>
                <input type="number" min="1" max="5" matInput formControlName="min_cost_level">
            </mat-form-field>

            <mat-form-field id="min_cost_level" class="no-padding">
                <mat-label>Nível de custo máximo</mat-label>
                <input type="number" min="1" max="5" matInput formControlName="max_cost_level">
            </mat-form-field>
        </form>

        <div class="data-grid">
            <ng-container *ngIf="!loading; else loadingTemplate">
                <mat-card 
                    *ngFor="let pro of professionals"
                    (click)="openPDetails(pro.id)"
                    class="mat-elevation-z2 professional" 
                    matRipple
                >
                    <mat-card-header>
                        <img 
                            mat-card-avatar
                            [src]="pro.photoUrl"
                            onerror="this.onerror=null;this.src='../../../assets/images/user-placeholder.png'"
                            alt="Foto do profissional"
                        >
                        <mat-card-title>
                            {{ pro.name }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ pro.email }}
                            <br>
                            {{ pro.registerNumber }}
                        </mat-card-subtitle>
                    </mat-card-header>
    
                    <mat-card-content>
                        <div class="observations">
                            {{ pro.observations }}<ng-container *ngIf="pro.observations.length > 100 || !pro.observations">...</ng-container>
                        </div>
                        <mat-divider inset></mat-divider>
                        {{ pro.fullAddress }}
                        <mat-divider inset></mat-divider>
                        {{ pro.costLevel }}
                    </mat-card-content>
    
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </ng-container>

            <ng-template #loadingTemplate>
                <ngx-skeleton-loader
                    *ngFor="let item of [].constructor(8)"
                    [theme]="{height: '250px'}"
                ></ngx-skeleton-loader>
            </ng-template>
        </div>

        <mat-paginator 
            showFirstLastButtons
            formField
            [length]="professionalsCount" 
            [pageSize]="8"
            [pageSizeOptions]="[8, 16, 32]">
        </mat-paginator>
    </mat-card-content>
</mat-card>

<ng-template #pDetails>
    <app-professionals-details [id]="selectedProfessionalId"></app-professionals-details>
</ng-template>