@use './styles/colors.scss';
@use './styles/form-field.scss';
@use './styles/skeleton-loader.scss';
@use './styles/snackbar.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}